body {
    color: rgb(184, 172, 172);
    text-align: center;
    background: linear-gradient(to bottom, rgb(81, 78, 212), rgb(149, 138, 172), rgb(46, 46, 48));
}

h1 {
    text-shadow: 0 0 3px black, 0 0 15px rgb(255, 0, 21);
}

.status {
    font-size: 25px;
}

.status .box-status {
    background-color: rgb(112, 119, 121);
    border-radius: 10px;
    height: 35px;
    width: 150px;
    border: 5px rgb(49, 37, 37) solid;
    color: rgb(63, 39, 39);
    padding: 5px;
    font-family: fantasy;
}

.status .restart {
    margin-left: 90px;
    background-color: rgb(180, 190, 192);
    padding: 1px;
    width: 40px;
    cursor: pointer;
}

.status .restart:hover {
    background-color: gray;
}

.status .restart span {
    font-size: 20px;
}

.status .score {
    display: inline-block;
}

.status .time {
    margin-left: 90px;
    display: inline-block;
}

.choice {
    margin-top: 10px;
    cursor: pointer;
}

.level {
    font-size: 20px;
    color: rgb(36, 28, 73);
    font-weight: bold;
}

.panel {
    font-size: 25px;
    background-color: rgb(112, 119, 121);
    color: rgb(63, 39, 39);
    border-radius: 5px;
    position: absolute;
    padding-left: 15px;
    padding-top: 3px;
    left: 7%;
    top: 28%;
    width: 260px;
    height: 350px;
    font-family: fantasy;
    border: 5px rgb(49, 37, 37) solid;
    text-align: left;
}

.hints {
    display: inline-block;
    font-size: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.hints span {
    padding-top: 12px;
    padding-left: 3px;
    padding-right: 3px;
}

.hints span:hover {
    border-radius: 10px;
    border: 2px orange dotted;
}

.lives {
    display: inline-block;
    margin-top: 20px;
    font-size: 30px;
}

.heart {
    height: 40px;
    width: auto
}

.best-time {
    display: inline-block;
    margin-top: 20px;
    font-size: 23px;
}

.best-time .level {
    color: rgb(63, 39, 39);
}

.button {
    margin-top: 20px;
    border-radius: 7px;
    width: 120px;
    height: 60px;
    font-size: 18px;
    background-color: rgb(59, 59, 65);
    color: rgb(150, 146, 141);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}

.button:hover {
    border: 3px rgb(173, 158, 158) solid;
}

.create-mine {
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 7px;
    width: 200px;
    height: 60px;
    font-size: 18px;
    background-color: rgb(59, 59, 65);
    color: rgb(150, 146, 141);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}

.create-mine:hover {
    border: 3px rgb(173, 158, 158) solid;
}

.is-create {
    background-color: rgb(19, 19, 20);
    color: rgb(150, 146, 141)
}

.is-create:hover {
    background-color: rgb(19, 19, 20);
    color: rgb(150, 146, 141)
}

table {
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

img {
    width: 30px;
    height: 30px;
}

td {
    width: 35px;
    height: 35px;
    background-color: gray;
    cursor: pointer;
    color: rgb(187, 187, 168);
    box-shadow: 0px 2px rgb(57, 89, 177);
    transition: 0.2s;
}

td:hover {
    background-color: rgb(119, 109, 109);
}

.shown {
    background-color: rgb(83, 78, 78);
    cursor: auto;
}

.shown:hover {
    background-color: rgb(83, 78, 78);
}

.hint-cell {
    background-color: rgb(67, 133, 155);
}

.hint-cell:hover {
    background-color: rgb(67, 133, 155);
}

.save-cell {
    background-color: rgb(110, 100, 177);
}

.explode {
    background-color: red;
    cursor: auto;
}

.explode:hover {
    background-color: red;
}

footer {
    height: 30px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: rgb(170, 159, 159);
    font-style: italic;
    margin-top: 240px;
}